<%- include('partials/facultyhead') %>
<div class="container-fluid py-4">
    <input class="form-control mb-2 bg-cover text-dark text-uppercase  text-xs font-weight-bolder opacity-8 w-30" id="tableSearch" type="text" placeholder="Search Course"> 
    <div class="table-responsive">
         
      <div class="card">
          <div class="table-responsive">
            <table class="table align-items-center mb-0 e table-group-divider">
              <thead class=" text-white bg-gradient-primary">
                <tr class="align-middle text-center">
                 
                  <th class="text-uppercase text-sm font-weight-bolder ">Course Title</th>
                  
                  <th class="text-uppercase text-sm font-weight-bolder ">Section Code</th>
                  <th class="text-uppercase text-sm font-weight-bolder ">Room</th>
                  <th class="text-uppercase text-sm font-weight-bolder ">Time Slot</th>
        
                 
                 
                </tr>
              </thead>
              <tbody id="myTable">
                  <% courses.forEach(x => { %>
                   
                  
                <tr class="align-middle text-center text-sm text-dark">
  
                    <td>
                    
                        
                        <div class="d-flex flex-column justify-content-center px-2 py-2">
                          <h6 class="mb-0 text-sm "> <%= x.course_title  %> </h6>
                          <p class="text-xs text-secondary mb-0"><%= x.course_code  %></p>
                        </div>
                    
                    </td>
                    <td>
                      <p class="text-sm font-weight-bold mb-0"><%= x.section_code  %></p>
                     
                    </td>
                    <td>
                        <% if (!x.room_id) { %>
                            <p class="text-sm font-weight-bold mb-0">To Be Decided</p>
                        <% } %>
                      <p class="text-sm font-weight-bold mb-0"><%= x.room_id  %></p>
                     
                    </td>
                    <td>
                        <div class="d-flex flex-column justify-content-center px-2 py-2">
                            <h6 class="mb-0 text-sm "> <%= x.slot_day  %> </h6>
                            <p class="text-xs text-secondary mb-0"><%= x.slot_time  %></p>
                          </div>
                     
                    </td>
                   
                    
                  </tr>
                  <% }) %>
              </tbody>
            </table>
          </div>
        </div>
  
    </div>
  
    </div>
<%- include('partials/footer') %>