<%- include('partials/hodhead') %>
<div class="container-fluid py-4">
    <% if (!allSectionData.length) { %>
      <div class="alert alert-primary text-white border-0" role="alert">
          <strong>No Record Found </strong> 
      </div>
     <% } else{ %>
      <div class="table-responsive">
           
        <div class="rounded-pill">
            <div class="table-responsive">
              <table class="table align-items-center mb-0 table-group-divider">
                <thead class=" text-white bg-default">
                  <tr class="align-middle text-center">
                     <th class=" px-0 text-uppercase text-sm font-weight-bolder bg-info rounded-top text-bg-info  " colspan="<%= 5 + marksType.length%>"> <%= sectionCode  %></th>
                  </tr>
                <tr class="align-middle text-center">
                 
                  <th class=" px-0 text-uppercase text-sm font-weight-bolder " colspan="2">Student Data</th>
                  <th class=" px-0 text-uppercase text-sm font-weight-bolder bg-dark" colspan="<%=marksType.length%>">Assessments</th>
                  <th class=" px-0 text-uppercase text-sm font-weight-bolder bg-dark" colspan="3">Result</th>
                </tr>
                <tr class="align-middle text-center">
                  <th class=" px-0 text-uppercase text-sm font-weight-bolder  ">Student ID</th>
                  <th class=" px-0 text-uppercase text-sm font-weight-bolder  ">Student Name</th>
                
                  
                  <% marksType.forEach((x,i) => { %>
                    <th class=" px-0 text-uppercase text-sm font-weight-bolder bg-dark"> 
                      
                      <div class="d-flex flex-column justify-content-center px-2 py-2">
                        <h6 class="mb-0 text-sm bold text-white"> <%=x  %> </h6>
                        <p class="text-xs font-weight-bold mb-0"><%= totalMarks[i] %> </p>
                      </div>
                  

                      </th>
                  <% }) %>
                  
                  
                  <th class=" px-0 text-uppercase text-sm font-weight-bolder  ">Total Marks</th>
                  <th class=" px-0 text-uppercase text-sm font-weight-bolder  ">Grade</th>
                  <th class=" px-0 text-uppercase text-sm font-weight-bolder  ">GPA</th>
                
                
                </tr>
              </thead>
                <tbody id="myTable" class="bg-white">
                    <% allSectionData.forEach(x => { %>
                     
                    
                  <tr class="align-middle text-center text-sm">
    
                      <td>
                      
                          
                          <div class="d-flex flex-column justify-content-center px-2 py-2">
                            <h6 class="mb-0 text-sm "> <%= x.student_id  %> </h6>
                          </div>
                      
                      </td>
                      <td>
                        <p class="text-sm font-weight-bold mb-0"><%= x.student_firstname  %> <%= x.student_lastname  %></p>
                       
                      </td>

                      <% marksType.forEach(y => { %>
                        <td><p class="text-sm font-weight-bold mb-0"><%= x[y]  %></p></td> 
                      <% }) %>
                      <td><p class="text-sm text-dark font-weight-bolder mb-0"><%= x.totalmarks  %></p></td> 
                      <td><p class="text-sm text-dark font-weight-bolder mb-0"><%= x.grade  %></p></td> 
                      <td><p class="text-sm text-dark font-weight-bolder mb-0"><%= x.gpa  %></p></td> 
                     
                      
                     
                     
                     
                    </tr>
                    <% }) %>
                </tbody>
              </table>
              <div class="text-end mr-2 mt-2">
                <a href="./lockgrades" class="btn btn-danger text-end mr-3">Return</a>
               
              </div>
            </div>
          </div>
    
      </div>
      <% } %>
      </div>
<%- include('partials/footer') %>